{% extends "base.html" %}
{% load static %}  
{% block title %}Reset your password{% endblock %}

{% block style %}
  <style>
    body {
      background: url('{% static 'email_sent.gif' %}') fixed center;
      background-size: cover;
      background-position: 50% 30%;
      margin: 0;
    }
    .container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      margin-top: 50px; /* Adjust as needed */
    }

    @media only screen and (max-width: 600px) {
      body {
        background-position: center;
      }

      .container {
        width: 80%; /* Adjust the width for smaller screens */
        margin: 50px auto; /* Center the container */
      }
    }
  </style>
{% endblock style %}

{% block body %}
  <div class="container mt-5">
    <h1 class="mb-4">Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
  </div>
{% endblock body %}
