<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Email Verification</title>
  </head>
  <body>
    <p>Hi {{ user }},</p>
    <p>Click the button below to activate your account:</p>
    <a href="{{ absurl }}">
    <button id='activate' style="padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px;">
        Activate Account
    </button>
    </a>
  </body>
</html>
